@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next, main {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
}